header{
    background-color: darkGray;
    opacity: 100%;
}

.imgBackground{
    position:fixed;
    border-style: ridge;
    border-color: black;
    background: silver;
    top: 110px;
    bottom: 300px;
    right: 575px;
    left: 575px;
}

.body{
    text-align: center;
}

.name{

    display:inline-block;
    background-position: center top;
    background-color: gray;
    background-position-x: left;
    color: black;
}

.carImage{
    display: block;
    margin-left: 12px;
    margin-right: auto;
    width: 35%;
    line-height: 0;
}

.description{
    display: inline-block;
    background-position: center top;
    background-color: gray;
    background-position-x: left;
    color: black;   
}

